#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: -999em;
	overflow: hidden;
	width: 55px;
	height: 55px;
	z-index: 999;
	text-align: center;
	@include border-radius($border__radius);
	&:before{
		@include font-awesome-icon();
		width: 100%;
		line-height: 55px;
		font-size: 20px;
		content: '\f106';
	}
	&:focus {
		outline: none;
	}
	@include media-breakpoint-up(sm) {
		right: 20px;
	}
	@include media-breakpoint-up(md) {
		bottom: 80px;
	}
	span {
		position: absolute;
		bottom: 0;
		left: 50%;
		@include transform(translateX(-50%));
	}
}