.site {
	@include hyphens(auto);
	overflow: hidden;

	&-content_wrap {
		.blog.front-page & {
			margin-top: 2em;
		}
		.breadcrumbs + &{
			.blog.front-page & {
				margin-top: 1em;
			}
		}

		.position-one-right-sidebar &,
		.position-one-left-sidebar & {
			margin-top: 2em;
		}
	}
}

/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";
