/* #Typography */
body{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{px};
	text-align: $body_text_align;
	color: $regular_text_color;
}
h1 {
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	font-size: @font_size($h1_font_size, multiple, ceil, 1)px;
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	letter-spacing: $h1_letter_spacing{px};
	text-align: $h1_text_align;
	color: $regular_h1_color;
}
h2 {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 1)px;
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{px};
	text-align: $h2_text_align;
	color: $regular_h2_color;
}
h3 {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 1)px;
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{px};
	text-align: $h3_text_align;
	color: $regular_h3_color;
}
h4 {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 1)px;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{px};
	text-align: $h4_text_align;
	color: $regular_h4_color;
}
h5 {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{px};
	text-align: $h5_text_align;
	color: $regular_h5_color;
}
h6 {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{px};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}
@media (min-width: 992px) {
	h1 { font-size: $h1_font_size{px}; }
	h2 { font-size: $h2_font_size{px}; }
	h3 { font-size: $h3_font_size{px}; }
	h4 { font-size: $h4_font_size{px}; }
}

a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover { color: $regular_link_color; }
a:hover { color: $regular_link_hover_color; }

/* #Invert Color Scheme */
.invert { color: $invert_text_color; }
.invert h1 { color: $invert_h1_color; }
.invert h2 { color: $invert_h2_color; }
.invert h3 { color: $invert_h3_color; }
.invert h4 { color: $invert_h4_color; }
.invert h5 { color: $invert_h5_color; }
.invert h6 { color: $invert_h6_color; }
.invert a { color: $invert_link_color; }
.invert a:hover { color: $invert_link_hover_color; }

.invert a[href*="tel:"],
.invert a[href*="mailto:"] {
	color: $regular_text_color;
}
.invert a[href*="tel:"]:hover,
.invert a[href*="mailto:"]:hover {
	color: $invert_link_hover_color;
}

/* #Layout */
@media (min-width: 1200px) {
	.container {
		max-width: $container_width{px};
	}
}

/*404*/
body.error404{
	background-color: $page_404_bg_color;
	background-repeat: $page_404_bg_repeat;
	background-position: $page_404_bg_position_x top;
	background-attachment: $page_404_bg_attachment;
}

/* Text colors */
.accent-color-1 {
	color: $regular_accent_color_1;
}
.accent-color-2 {
	color: $regular_accent_color_2;
}
.accent-color-3 {
	color: $regular_accent_color_3;
}
.site-content .mprm-container.mprm-shortcode-categories.mprm-view-grid .mprm-menu-category .mprm-link .mprm-category-content .mprm-title:after {
	background-color: $regular_accent_color_1;
}
.entry-content #tm_builder_outer_content .tm_pb_promo_description h2 {
	color: $regular_accent_color_1;
}
.site-content .mprm-container.mprm-shortcode-items.mprm-view-grid .mprm_thumb_wrap .mprm-tags a {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.tm_pb_testimonial_author_info p {
	color: $invert_accent_color_3;
}
.entry-content #tm_builder_outer_content .tm-pb-contact-message {
	color: $regular_text_color;
}