input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
	-webkit-appearance: none;
	padding: $input__indents;
	background-color: $color__background-input;
	border: 1px solid $color__border-input;
	line-height: 1.75;
	@include font-size(1);

	&:focus {
		outline: none;
	}

	&.mprm-form-error{
		border-color: $color__not-valid;
	}
}

button,
input[type='submit'],
input[type='reset'] {
	&:focus {
		outline: none;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
	min-height: 150px;

	@include resizable(vertical);
}

::-moz-placeholder { opacity: 1; }
:-moz-placeholder { opacity: 1; }