/* #ToTop button */
#toTop {
	background: $footer_bg;
	color: $invert_accent_color_3;
}
#toTop:hover {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
}

/* #Page Preloader */
.page-preloader-cover .dot1,
.page-preloader-cover .dot2 {
	background-color: $regular_accent_color_1;
}