$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #EBEBEB;
$color__background-input: #ffffff;
$color__background-pre: #eee;

$color__text-screen: #21759b;
$color__text-input: #666;

$color__border-input: #e0e0e8;
$color__border-abbr: #666;
$color__border-table: $color__background-hr;
$color__border-pre: darken( $color__background-pre, 10% );

$color__not-valid: #EC495E;
$color__valid: #398f14;