// Options
$enable-rounded: true !default;

$border__radius: 3px;
$box__shadow: 0 4px 16px rgba(0,0,0,.05);
$box__shadow_mobile: 0 3px 8px rgba(0,0,0,.05);

$size__site-main: 100%;
$size__site-sidebar: 25%;

$input__indents: 10px 20px;

$button__indents: 15px 26.5px;
$button__border-radius: $border__radius;
$button__border: 2px solid;
$button__box-shadow: none;

$embed__ratio: 44.445%;  //  thumbnail height / thumbnail width

// Toggle buttons options
$mobile-menu-position                        : static !default; // static, absolute

$menu-toggle-type                            : squeeze !default; // skin, squeeze, arrow

$menu-toggle-padding-x                       : 0px !default;
$menu-toggle-padding-y                       : 5px !default;
$menu-toggle-layer-width                     : 30px !default;
$menu-toggle-layer-height                    : 4px !default;
$menu-toggle-layer-spacing                   : 6px !default;
$menu-toggle-layer-color                     : #fff !default;
$menu-toggle-layer-border-radius             : 0px !default;
$menu-toggle-hover-opacity                   : 0.7 !default;
$menu-toggle-hover-transition-duration       : 0.15s !default;
$menu-toggle-hover-transition-timing-function: linear !default;